body{
	overflow:auto;
	padding:15px 15px 20px 20px;
	margin:0;
}
img {
	border: none;
}
a { selector-dummy : expression(this.hideFocus=true);} 

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;	
	white-space: nowrap;	
}

.dtree img {
	border: 0px;
	vertical-align: middle;
}

.dtree a {
	color: #333333;
	text-decoration: none;
}

.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}

.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333333;
	text-decoration: underline;
}

.dtree a.nodeSel {
	background-color: #EBF3F3;
}

.dtree .clip {
}

#main_table
{
	border-bottom:2px solid #aae5e5;
	border-right:2px solid #aae5e5;
	border-top:3px solid #aae5e5;
	border-left:2px solid #aae5e5;
}