tbl_type04@charset "euc-kr";

/* 페이징 */
	.paging{
		clear:both; display:block;
		position:relative;
		padding:20px 0; 
		height:30px;
		text-align:center;
		border:0px solid #d8d8d8;
		background:#fff;height:25px;
		}
	.paging *{ margin:0; padding:0;}
	.paging a,
	.paging strong{ 
		position:relative;
		display:inline-block; 
		margin-right:-6px; 
		padding:5px 6px 2px 6px; 
		color:#555; 
		text-decoration:none !important;
		line-height:normal; 
		font-size:12px;
		font-family:Dotum, Tahoma, Serif; 
		background:#fff url("/images/common/paging_line.gif") no-repeat 0 5px;
		}
	.paging strong{color:#f78512 !important;}
	.paging a:hover,
	.paging a:active,
	.paging a:focus{ background-color:#fff; color:#000;}
	.paging img{vertical-align:top; margin-top:0px; display:block;}

	.paging a.pre,
	.paging a.pre_end,
	.paging a.next,
	.paging a.next_end{background:none;vertical-align:top;padding-top:3px;}
	.paging a.pre_end{background:none;vertical-align:top;padding-top:3px;}
	.paging a.next{background:none;vertical-align:top;padding-top:3px;}
	.paging a.next_end {background:none; vertical-align:top;padding-top:3px;}
	.pagingList{float:left; width:80px; margin:0 0 0 10px;}
/* //페이징 */



/* search  조회 */
.tbl_search  {border-top:#d1c6bc solid 0px;border-collapse:collapse;}
	.tbl_search  th {
		background:url(/images/common/bu3.gif) no-repeat 0 10px;
		color:#196a74;
		font-size:12px; 		
		text-align:left;
		height:27px;
		padding-left:10px;
		padding-top:1px;
		font-weight:bold;
	}

	.tbl_search  th.b {
		background-color:#ffffff;
		color:#775231;
		text-align:left;
		font-size:12px; 
		height:27px;

	}
	.tbl_search  th.row {border-top:0;}
	.tbl_search  td {
	font-size: 12px;
	text-align: left;
	height: 27px;

	}



/* 2014 search  조회 */
.tbl_search_01  {
	border-collapse: collapse;
}
	.tbl_search_01  th {
	color: #666666;
	font-size: 12px;
	text-align: left;
	height: 27px;
	padding-left: 10px;
	padding-top: 1px;
	background-image: url(/images/common/bu26.png);
	background-repeat: no-repeat;
	background-position: 0 10px;
	font-weight: normal;

	}

	.tbl_search_01  th.b {
		background-color:#ffffff;
		color:#775231;
		text-align:left;
		font-size:12px; 
		height:27px;

	}
	.tbl_search_01  th.row {border-top:0;}
	.tbl_search_01  td {
		font-size:12px; 		
		text-align:left;
		height:27px;
	}

/* search  조회 */
.tbl_search_02  {border-top:#d1c6bc solid 0px;border-collapse:collapse;}
	.tbl_search_02  th {
		background:url(/images/common/bu17.gif) no-repeat 0 10px;
		color:#184178;
		font-size:12px; 		
		text-align:left;
		height:27px;
		padding-left:10px;
		padding-top:1px;
		font-weight:bold;
	}

	.tbl_search_02  th.b {
		background-color:#ffffff;
		color:#775231;
		text-align:left;
		font-size:12px; 
		height:27px;

	}
	.tbl_search_02  th.row {border-top:0;}
	.tbl_search_02  td {
		font-size:12px; 		
		text-align:left;
		height:27px;
	}

/* search 상세조회 */
.tbl_search01  {border-top:#d1c6bc solid 0px;border-collapse:collapse;}
	.tbl_search01  th {
		background:url(/images/common/bu3.gif) no-repeat 0 10px;
		color:#555;
		font-size:12px; 		
		text-align:left;
		height:27px;
		padding-left:10px;
		padding-top:1px;
		font-weight:bold;
	}

	.tbl_search01  th.b {
		background-color:#ffffff;
		color:#555;
		text-align:left;
		font-size:12px; 
		height:27px;
		font-weight:bold;
	}
	.tbl_search01  th.row {border-top:0;}
	.tbl_search01  td {
		font-size:12px; 		
		text-align:left;
		height:27px;
	}
	
/* search 상세조회 */
.tbl_search02  {border-top:#d1c6bc solid 0px;border-collapse:collapse;}
	.tbl_search02  th {
		background:url(/images/common/bu3.gif) no-repeat 0 10px;
		color:#555;
		font-size:12px; 		
		text-align:left;
		height:27px;
		padding-left:10px;
		padding-top:1px;
		font-weight:bold;
	}

	.tbl_search02  th.b {
		background-color:#ffffff;
		color:#555;
		text-align:left;
		font-size:12px; 
		height:27px;
		font-weight:bold;
	}
	.tbl_search02  th.row {border-top:0;}
	.tbl_search02  td {
		font-size:12px; 		
		text-align:left;
		height:27px;
	}


/* search  조회기준 조건  */
.search_list  td {
	font-size:12px; 		
	text-align:left;
	height:17px;
    border:#d1c6bc solid 0px;
}

/* search  블릿 상세조회 */
.pop_tbl_search  {border-top:#d1c6bc solid 0px;border-collapse:collapse;}
	.pop_tbl_search  th {
		background:url(/images/common/bu3.gif) no-repeat 0 10px;
		color:#196a74;
		font-size:12px; 		
		text-align:left;
		height:27px;
		padding-left:10px;
		padding-top:1px;
	}

	.pop_tbl_search  th.b {
		background-color:#ffffff;
		color:#775231;
		text-align:left;
		font-size:12px; 

		height:27px;
	}
	.pop_tbl_search  th.row {border-top:0;}
	.pop_tbl_search  td {
		font-size:12px; 		
		text-align:left;
		height:27px;
	}


/* search 테이블 상세조회 검색단 */
.tbl_type01  {border-top:#e2d5c9 solid 2px;border-collapse:collapse;}
	.tbl_type01 th {
		background-color:#f5eee8;
		color:#a1520c;
		border-right:#d9d9d9 solid 1px;
		border-bottom:#d9d9d9 solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 
		text-align:center;
		height:17px;
		line-height:18px;
		font-weight:normal;
	}



	.tbl_type01 th.b {
		background-color:#ffffff;
		color:#a1520c;
		border-right:#d9d9d9 solid 1px;
		border-bottom:#d9d9d9 solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		line-height:18px;
		font-weight:normal;
	}
	.tbl_type01 th.row {border-top:0;}
	.tbl_type01 td {
		border-right:#d9d9d9 solid 1px;
		border-bottom:#d9d9d9 solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:17px;
		line-height:18px;
	}

	.tbl_type01 th.al, .tbl_type01 td.al {text-align:left} .tbl_type01 td.ac {text-align:center} .tbl_type01 td.ar {text-align:right}
	.tbl_type01 th.ll, .tbl_type01 td.ll {border-right:0}
	
/* [추가_20140620] search 테이블 상세조회 검색단 */
.tbl_type01_01 {
	border-collapse: collapse;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #c2d6e8;
}
	.tbl_type01_01 th {
	background-color: #fff9dd;
	color: #666666;
	border-right: #d9d9d9 solid 1px;
	border-bottom: #d9d9d9 solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: center;
	height: 17px;
	line-height: 18px;
	font-weight: normal;
	}



	.tbl_type01_01 th.b {
		background-color:#ffffff;
		color:#a1520c;
		border-right:#d9d9d9 solid 1px;
		border-bottom:#d9d9d9 solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		line-height:18px;
		font-weight:normal;
	}
	.tbl_type01_01 th.row {border-top:0;}
	.tbl_type01_01 td {
		border-right:#d9d9d9 solid 1px;
		border-bottom:#d9d9d9 solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:17px;
		line-height:18px;
	}

	.tbl_type01_01 th.al, .tbl_type01_01 td.al {text-align:left} .tbl_type01_01 td.ac {text-align:center} .tbl_type01_01 td.ar {text-align:right}
	.tbl_type01_01 th.ll, .tbl_type01_01 td.ll {border-right:0}
	
	
	
/* [추가_2014] 기업정보 */
.tbl_type01_02 {
	border-collapse: collapse;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #3c92c9;
}
	.tbl_type01_02 th {
	background-color: #FFFFCC;
	color: #333333;
	border-right: #d9d9d9 solid 1px;
	border-bottom: #d9d9d9 solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: center;
	height: 30px;
	line-height: 18px;
	font-weight: normal;
	}

	.tbl_type01_02 th.b {
		background-color:#ffffff;
		color:#a1520c;
		border-right:#d9d9d9 solid 1px;
		border-bottom:#d9d9d9 solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:11px; 		
		line-height:18px;
		font-weight:normal;
	}
	.tbl_type01_02 th.row {border-top:0;}
	.tbl_type01_02 td {
	border-right: #d9d9d9 solid 1px;
	border-bottom: #d9d9d9 solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 11px;
	text-align: left;
	height: 17px;
	line-height: 18px;
	color: #666;
	}

	.tbl_type01_02 th.al, .tbl_type01_02 td.al {text-align:left} .tbl_type01_02 td.ac {text-align:center} .tbl_type01_02 td.ar {text-align:right}
	.tbl_type01_02 th.ll, .tbl_type01_02 td.ll {border-right:0}
	
/* [추가_2014] 기업정보 01 */
.tbl_type01_03 {
	border-collapse: collapse;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #3c92c9;
}
	.tbl_type01_03 th {
	background-color: #fefee0;
	color: #2e7bac;
	border-right: #b0b0b0 solid 1px;
	border-bottom: #b0b0b0 solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: center;
	height: 18px;
	line-height: 22px;
	font-weight: normal;
	}



	.tbl_type01_03 th.b {
		background-color:#ffffff;
		color:#a1520c;
		border-right:#b0b0b0 solid 1px;
		border-bottom:#b0b0b0 solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:11px; 		
		line-height:18px;
		font-weight:normal;
	}
	.tbl_type01_03 th.row {border-top:0;}
	.tbl_type01_03 td {
	border-right: #b0b0b0 solid 1px;
	border-bottom: #b0b0b0 solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 11px;
	text-align: left;
	height: 17px;
	line-height: 18px;
	color: #666;
	}
	

	.tbl_type01_03 th.al, .tbl_type01_03 td.al {text-align:left} .tbl_type01_03 td.ac {text-align:center} .tbl_type01_03 td.ar {text-align:right}
	.tbl_type01_03 th.ll, .tbl_type01_03 td.ll {border-right:0}

/* [추가_2014] 기업정보 03 */
.tbl_type01_04 {
	border-collapse: collapse;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #3c92c9;
}
	.tbl_type01_04 th {
	background-color: #FFFFFF;
	color: #333333;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: center;
	height: 18px;
	line-height: 22px;
	font-weight: normal;
	text-decoration: underline;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b0b0b0;
	border-right-color: #b0b0b0;
	border-bottom-color: #b0b0b0;
	border-left-color: #b0b0b0;
	}

	.tbl_type01_04 td {
	border-right: #b0b0b0 solid 1px;
	border-bottom: #b0b0b0 solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 11px;
	text-align: center;
	height: 17px;
	line-height: 18px;
	color: #FFF;
	background-color: #8f8f8f;
	}
	

/* [추가_2014] 기업정보 04 */
.tbl_type01_05 {
	border-collapse: collapse;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #3c92c9;
}
	.tbl_type01_05 th {
	background-color: #FFFFFF;
	color: #333333;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: center;
	height: 18px;
	line-height: 22px;
	font-weight: normal;
	text-decoration: underline;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b0b0b0;
	border-right-color: #b0b0b0;
	border-bottom-color: #b0b0b0;
	border-left-color: #b0b0b0;
	}

	.tbl_type01_05 td {
	border-right: #b0b0b0 solid 1px;
	border-bottom: #b0b0b0 solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 11px;
	text-align: center;
	height: 17px;
	line-height: 46px;
	color: #FFF;
	background-color: #8f8f8f;
	}
	
/* [추가_2014] 기업정보 04 */
.tbl_type01_06 {
	border-collapse: collapse;
	margin: 0px;
	width: 500px;
}
	.tbl_type01_06 th {
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	height: 18px;
	}

	.tbl_type01_06 th.row {border-top:0;}

	.tbl_type01_06 th.al, .tbl_type01_02 td.al {text-align:left} .tbl_type01_02 td.ac {text-align:center} .tbl_type01_02 td.ar {text-align:right}
	.tbl_type01_06 th.ll, .tbl_type01_02 td.ll {border-right:0}
	
	/* [추가_2014] 기업정보 04 */
.tbl_type01_08 {
	border-collapse: collapse;
	margin: 0px;
	width: 600px;
	height: 100px;
	font-family: "돋움", "돋움체";
}
	.tbl_type01_08 th {
	color: #FFFFFF;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	height: 18px;
	line-height: 20px;
	}
.tbl_type01_08 td{
	color: #FFFFCC;
	font-size: 45px;
	text-align: right;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	height: 18px;
	line-height: 50px;
	background-position: right;
	}
	.tbl_type01_08 th.row {border-top:0;}

	.tbl_type01_08 th.al, .tbl_type01_08 td.al {text-align:left} .tbl_type01_08 td.ac {text-align:center} .tbl_type01_08 td.ar {text-align:right}
	.tbl_type01_08 th.ll, .tbl_type01_08 td.ll {border-right:0}
	

	
/* 가로 구성 컨텐츠 테이블 */
.tbl_type02  {border-top:#a0bfdb solid 2px;border-collapse:collapse; table-layout:fixed;}
	.tbl_type02 th {
	background-color: #f4f6fa;
	color: #3872b6;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type02 th.b {
	background-color: #ffffff;
	color: #3872b6;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	}
	.tbl_type02 th.row {border-top:0;}
	.tbl_type02 td {
	background-color: #ffffff;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: left;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type02 th.ll, .tbl_type02 td.ll {border-right:0;} .tbl_type02 td.linenone {border:0;}
	.tbl_type02 th.al, .tbl_type02 td.al {text-align:left}.tbl_type02 th.ac {text-align:center;} .tbl_type02 td.ac {text-align:center} .tbl_type02 td.ar {text-align:right}
    .tbl_type02 td.bbstxt {color:#3b8e00; text-decoration:none;}
    .wh_373{height:373;}
	
	
tbl_type02_1  {border-top:#a0bfdb solid 2px;border-collapse:collapse; table-layout:fixed;}
	.tbl_type02_1 th {
	background-color: #f4f6fa;
	color: #3872b6;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type02_1 th.b {
		background-color:#ffffff;
		color:#3872b6;
		border-right:#dddddd solid 1px;
		border-bottom:#dddddd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:left;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px;
	}
	.tbl_type02_1 th.row {border-top:0;}
	.tbl_type02_1 td {
        background-color:#ffffff;
		border-right:#dddddd solid 1px;
		border-bottom:#dddddd solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:20px;
		line-height:18px;
	}
	.tbl_type02_1 th.ll, .tbl_type02 td.ll {border-right:0;} .tbl_type02 td.linenone {border:0;}
	.tbl_type02_1 th.al, .tbl_type02 td.al {text-align:left}.tbl_type02 th.ac {text-align:center;} .tbl_type02 td.ac {text-align:center} .tbl_type02 td.ar {text-align:right}
    .tbl_type02_1 td.bbstxt {color:#3b8e00; text-decoration:none;}
    .wh_373{height:373;}

/* 그리드 테이블 리스트 */
.tbl_type03  {border-top:#a0bfdb solid 2px;border-collapse:collapse;}
	.tbl_type03 th {
		background-color:#f4f6fa;
		color:#3872b6;
		border:#d0d7dd solid 1px;
		padding:5px 0px 0px 0px;
		text-align:center;
		font-size:12px; 		
		font-weight:bold;
		height:25px;
		line-height:18px
	}
	.tbl_type03 th.b {
		background-color:#f4f6fa;
		color:#3872b6;
		border:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px
	}
	.tbl_type03 th.row {border-top:0;}
	.tbl_type03 td {
		border:#d0d7dd solid 1px;
		padding:7px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:20px;
		line-height:18px
	}

	.tbl_type03 th.al, .tbl_type03 td.al {text-align:left; padding-left:10px;} .tbl_type03 td.ac {text-align:center} .tbl_type03 td.ar {text-align:right}
	.tbl_type03 th.ll, .tbl_type03 td.ll {border-right:0}
	.tbl_type03 th.sum {text-align:center; background-color:#e3e7ea; color:#4e6376;} .tbl_type03 td.sum {text-align:right; padding-right:10px; background-color:#e3e7ea;}

/*  가이트 테이블 리스트 */
.tbl_type04  {
	border-top: #9dd5da solid 2px;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top: 10px;
}
	.tbl_type04 th {
	background-color: #e7f6f7;
	color: #40a5b0;
	border-right: #d0d7dd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type04 th.b {
	background-color: #ffffff;
	color: #3872b6;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	}
	.tbl_type04 th.row {border-top:0;}
	.tbl_type04 td {
	background-color: #ffffff;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: left;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type04 th.ll, .tbl_type04 td.ll {border-right:0;} .tbl_type04 td.linenone {border:0;}
	.tbl_type04 th.al, .tbl_type04 td.al {text-align:left}.tbl_type04 th.ac {text-align:center;} .tbl_type04 td.ac {text-align:center} .tbl_type04 td.ar {text-align:right}
    .tbl_type04 td.bbstxt {color:#3b8e00; text-decoration:none;}
    .wh_373{height:373;}
	
.tbl_type04_04  {
	border-top: #9dd5da solid 2px;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top: 10px;
}
	.tbl_type04_04 th {
	background-color: #d8f0f2;
	color: #40a5b0;
	border-right: #d0d7dd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type04_04 th.b {
	background-color: #ffffff;
	color: #3872b6;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	}
	.tbl_type04_04 th.row {border-top:0;}
	.tbl_type04_04 td {
	background-color: #ffffff;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: left;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type04_04 th.ll, .tbl_type04_04 td.ll {border-right:0;} .tbl_type04_04 td.linenone {border:0;}
	.tbl_type04_04 th.al, .tbl_type04_04 td.al {text-align:left}.tbl_type04_04 th.ac {text-align:center;} .tbl_type04_04 td.ac {text-align:center} .tbl_type04_04 td.ar {text-align:right}
    .tbl_type04_04 td.bbstxt {color:#3b8e00; text-decoration:none;}
    .wh_373{height:373;}
	
	
	
/*  관리자 페이지로그인 테이블 */
.tbl_type_admin  {
	border-collapse: collapse;
	color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	margin-top: 250px;
}
.tbl_type_admin th {
	padding: 5px 5px 3px 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	background-image: url(/images/common/adminlogo.png);
	background-repeat: no-repeat;
	background-position: center center;
	}




	
/*  버튼라인 */
.tbl_line {
	height: 1px;
	width: 100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #dddddd;
	margin-top: 3px;
	margin-bottom: 3px;
}

/*  가이트 테이블 리스트_02 */
.tbl_type05  {border-top:#9dd5da solid 2px;border-collapse:collapse;}
	.tbl_type05 th {
		background-color:#e7f6f7;
		color:#40a5b0;
		border-bottom:#d0d7dd solid 1px;
        border-top:#d0d7dd solid 1px;
		padding:5px 5px 3px 10px; 
		text-align:center;
		font-size:12px; 		
		font-weight:bold;
		height:20px;
		line-height:18px
	}
	.tbl_type05 th.b {
		background-color:#e7f6f7;
		color:#40a5b0;
		border-bottom:#d0d7dd solid 1px;
        border-top:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px
	}
	.tbl_type05 th.row {border-top:0;}
	.tbl_type05 td {
		border-bottom:#d0d7dd solid 1px;
        border-top:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:20px;
		line-height:18px
	}

	.tbl_type05 th.al, .tbl_type05 td.al {text-align:left} .tbl_type05 td.ac {text-align:center} .tbl_type05 td.ar {text-align:right}

/*  가이트 테이블 리스트 (2014.6 신규 협약정보상세) */

.tbl_type123  {border-top:#9dd5da solid 1px;border-collapse:collapse;}
	.tbl_type123 th {
		background-color:#e7f6f7;
		color:#40a5b0;
		border-bottom:#d0d7dd solid 1px;
        border-top:#d0d7dd solid 1px;
		padding:5px 5px 3px 10px; 
		text-align:center;
		font-size:12px; 		
		font-weight:bold;
		height:20px;
		line-height:18px
	}
	.tbl_type123 th.b {
		background-color:#e7f6f7;
		color:#40a5b0;
		border-bottom:#d0d7dd solid 1px;
        border-top:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px
	}
	.tbl_type123 th.row {border-top:0;}
	.tbl_type123 td {
		border-bottom:#d0d7dd solid 1px;
        border-top:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:20px;
		line-height:18px
	}

	.tbl_type123 th.al, .tbl_type123 td.al {text-align:left} .tbl_type123 td.ac {text-align:center} .tbl_type123 td.ar {text-align:right}

/*  가이트 테이블 리스트_03 */
.th.none {border:none;}
	.tbl_type06 th {
		background-color:#e7f6f7;
		color:#40a5b0;
		border-bottom:#d0d7dd solid 0px;
        border-top:#d0d7dd solid 0px;
		padding:5px 5px 3px 3px; 
		text-align:center;
		font-size:12px; 		
		font-weight:bold;
		height:18px;
		line-height:16px
	}
	.tbl_type06 th.b {
		background-color:#e7f6f7;
		color:#40a5b0;
		border-bottom:#d0d7dd solid 0px;
        border-top:#d0d7dd solid 0px;
		padding:5px 5px 3px 3px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:16px
	}
	.tbl_type06 th.row {border-top:0;}
	.tbl_type06 td {
		border-bottom:#d0d7dd solid 0px;
        border-top:#d0d7dd solid 0px;
		padding:5px 5px 3px 3px;
		font-size:12px; 		
		text-align:left;
		height:18px;
		line-height:16px
	}

	.tbl_type06 th.al, .tbl_type06 td.al {text-align:left} .tbl_type06 td.ac {text-align:center} .tbl_type06 td.ar {text-align:right}

.tbl_01 { border-top:#70c0c9 solid 2px;}
.tbl_01 th {border-bottom:#7f919f solid 1px; padding:10px 0 10px 0;}
.tbl_01 td { border-bottom:#7f919f solid 1px; padding:10px 0 10px 0;}
.tbl_01 td.bn { border:none;}

.tbl_02 td {padding:0 0 3px 0;}



td.input { text-align:right;}
td.btn {text-align:right; padding-right:5px;}
td.tit { background:url(/images/bt/icon_bl01.gif) no-repeat 5px center; padding-left:20px;}
td.tit01 { background:url(/images/bt/icon7.gif) no-repeat 15px center; padding-left:30px;}




/* 테이블 none */
.tbl_none  {border-top:#d1c6bc solid 0px;border-collapse:collapse;}
	.tbl_none th {
		font-size:12px; 		
		text-align:left;
		height:27px;
		padding-left:10px;
	}

	.tbl_none th.row {border-top:0;}
	.tbl_none td {
		font-size:12px; 		
		text-align:left;
		height:27px;
	}



/*  전자세금계산서  
 
.bill_thred {background:#f9e6e6;color:#ff3d3e;border-top:#ff7d7d solid 1px;border-left:#ff7d7d solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;height:20px;}
.bill_thred01 {background:#f9e6e6;color:#ff3d3e;border-top:#ff7d7d solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;height:20px;}
.bill_thred02{background:#f9e6e6;color:#ff3d3e;border-top:#ff7d7d solid 1px;border-left:#ff7d7d solid 1px;border-bottom:#ff7d7d solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;}
.bill_tdred {background:#fff;border-top:#ff7d7d solid 1px;border-left:#ff7d7d solid 1px;border-right:#ff7d7d solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}
.bill_tdred01 {background:#fff;border-top:#ff7d7d solid 1px;border-left:#ff7d7d solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}
.bill_tdred02 {background:#fff;border-top:#ff7d7d solid 1px;border-left:#ff7d7d solid 1px;border-bottom:#ff7d7d solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}

.bill_thblue {background:#ecf3ff;color:#4064ff;border-top:#7f9ef7 solid 1px;border-left:#7f9ef7 solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;height:20px;}
.bill_thblue01 {background:#ecf3ff;color:#4064ff;border-top:#7f9ef7 solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;height:20px;}
.bill_thblue02{background:#ecf3ff;color:#4064ff;border-top:#7f9ef7 solid 1px;border-left:#7f9ef7 solid 1px;border-bottom:#7f9ef7 solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;height:20px;}
.bill_tdblue {background:#fff;border-top:#7f9ef7 solid 1px;border-left:#7f9ef7 solid 1px;border-right:#7f9ef7 solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;;}
.bill_tdblue01 {background:#fff;border-top:#7f9ef7 solid 1px;border-left:#7f9ef7 solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}
.bill_tdblue02 {background:#fff;border-top:#7f9ef7 solid 1px;border-left:#7f9ef7 solid 1px;border-bottom:#7f9ef7 solid 1px;border-right:#7f9ef7 solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}

 */
 
 /*  20141229 전자세금계산서  */
.bill_thred {background:#faf6f4;color:#db5151;border-top:#efacac solid 1px;border-left:#efacac solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;height:20px;}
.bill_thred01 {
	color: #db5151;
	border-top: #efacac solid 1px;
	padding: 6px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	background-color: #faf6f4;
}
.bill_thred02{
	color: #FFFFFF;
	border-top: #efacac solid 1px;
	border-left: #efacac solid 1px;
	border-bottom: #efacac solid 1px;
	padding: 6px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #db5151;
}
.bill_thred03{background:#faf6f4;color:#db5151;border-top:#efacac solid 1px;border-left:#efacac solid 1px;border-bottom:#efacac solid 1px;padding:6px 5px 3px 5px;text-align:center;font-size:12px;font-weight:bold;}
.bill_tdred {background:#fff;border-top:#efacac solid 1px;border-left:#efacac solid 1px;border-right:#efacac solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}
.bill_tdred01 {background:#fff;border-top:#efacac solid 1px;border-left:#efacac solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}
.bill_tdred02 {background:#fff;border-top:#efacac solid 1px;border-left:#efacac solid 1px;border-bottom:#efacac solid 1px;padding:6px 5px 3px 5px;text-align:left;font-size:12px;font-weight:normal;height:20px;}

.bill_thblue {
	background: #faf6f4;
	color: #4e80af;
	padding: 6px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #8fb0dc;
	border-left-color: #8fb0dc;
}
.bill_thblue01 {
	color: #4e80af;
	padding: 6px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	background-color: #faf6f4;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #8fb0dc;
}
.bill_thblue02{
	color: #FFFFFF;
	padding: 6px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	background-color: #4e80af;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8fb0dc;
	border-bottom-color: #8fb0dc;
	border-left-color: #8fb0dc;
}
.bill_thblue03{
	background: #faf6f4;
	color: #4e80af;
	padding: 6px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8fb0dc;
	border-bottom-color: #8fb0dc;
	border-left-color: #8fb0dc;
}
.bill_tdblue {
	background: #fff;
	padding: 6px 5px 3px 5px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #8fb0dc;
	border-right-color: #8fb0dc;
	border-left-color: #8fb0dc;
}
.bill_tdblue01 {
	background: #fff;
	padding: 6px 5px 3px 5px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #8fb0dc;
	border-left-color: #8fb0dc;
}
.bill_tdblue02 {
	background: #fff;
	padding: 6px 5px 3px 5px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8fb0dc;
	border-right-color: #8fb0dc;
	border-bottom-color: #8fb0dc;
	border-left-color: #8fb0dc;
}

.bill_tbl_type02_0  {border-top:#a0bfdb solid 0px;border-collapse:collapse;}
.bill_tbl_type03  {border-top:#a0bfdb solid 0px;border-collapse:collapse;}
	.bill_tbl_type03 th {
		background-color:#f4f6fa;
		color:#3872b6;
		border:#d0d7dd solid 1px;
		padding:5px 0px 0px 0px;
		text-align:center;
		font-size:12px; 		
		font-weight:bold;
		height:25px;
		line-height:18px
	}
	.bill_tbl_type03 th.b {
		background-color:#f4f6fa;
		color:#3872b6;
		border:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px
	}
	.bill_tbl_type03 th.row {border-top:0;}
	.bill_tbl_type03 td {
		border:#d0d7dd solid 1px;
		padding:7px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:20px;
		line-height:18px
	}

	.bill_tbl_type03 th.al, .tbl_type03 td.al {text-align:left; padding-left:10px;} .tbl_type03 td.ac {text-align:center} .tbl_type03 td.ar {text-align:right}
	.bill_tbl_type03 th.ll, .tbl_type03 td.ll {border-right:0}
	.bill_tbl_type03 th.sum {text-align:center; background-color:#e3e7ea; color:#4e6376;} .tbl_type03 td.sum {text-align:right; padding-right:10px; background-color:#e3e7ea;}
 .bill_tbl_type04  {border-top:#a0bfdb solid 0px;border-collapse:collapse;}
	.bill_tbl_type04 th {
	background-color: #f4f6fa;
	color: #3872b6;
	padding: 5px 0px 0px 0px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	line-height: 18px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d0d7dd;
	border-right-color: #d0d7dd;
	border-bottom-color: #d0d7dd;
	border-left-color: #d0d7dd;
	}
	.bill_tbl_type04 th.b {
		background-color:#f4f6fa;
		color:#3872b6;
		border:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px
	}
	.bill_tbl_type04 th.row {border-top:0;}
	.bill_tbl_type04 td {
	padding: 7px 5px 3px 5px;
	font-size: 12px;
	text-align: left;
	height: 20px;
	line-height: 18px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d0d7dd;
	border-right-color: #d0d7dd;
	border-bottom-color: #d0d7dd;
	border-left-color: #d0d7dd;
	}

	.bill_tbl_type04 th.al, .tbl_type03 td.al {text-align:left; padding-left:10px;} .tbl_type03 td.ac {text-align:center} .tbl_type03 td.ar {text-align:right}
	.bill_tbl_type04 th.ll, .tbl_type03 td.ll {border-right:0}
	.bill_tbl_type04 th.sum {text-align:center; background-color:#e3e7ea; color:#4e6376;} .tbl_type03 td.sum {text-align:right; padding-right:10px; background-color:#e3e7ea;}
 

.bill_tbl_01  {border-top:#a0bfdb solid 2px;border-collapse:collapse;}
	.bill_tbl_01 th {
		background-color:#f4f6fa;
		color:#3872b6;
		border:#d0d7dd solid 1px;
		padding:5px 0px 0px 0px;
		text-align:center;
		font-size:12px; 		
		font-weight:bold;
		height:25px;
		line-height:18px
	}
	.bill_tbl_01 th.b {
		background-color:#f4f6fa;
		color:#3872b6;
		border:#d0d7dd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px
	}
	.bill_tbl_01 th.row {border-top:0;}
	.bill_tbl_01 td {
		border:#d0d7dd solid 1px;
		padding:7px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:20px;
		line-height:18px
	}

	.bill_tbl_01 th.al, .tbl_type03 td.al {text-align:left; padding-left:10px;} .tbl_type03 td.ac {text-align:center} .tbl_type03 td.ar {text-align:right}
	.bill_tbl_01 th.ll, .tbl_type03 td.ll {border-right:0}
	.bill_tbl_01 th.sum {text-align:center; background-color:#e3e7ea; color:#4e6376;} .tbl_type03 td.sum {text-align:right; padding-right:10px; background-color:#e3e7ea;}


/*  카드전표 테이블 */
.tbl_bill01  {border-top:#7f9ef7 solid 1px;border-collapse:collapse;}
	.tbl_bill01 th {
		background:#ecf3ff;
		color:#4064ff;
		border-left:#7f9ef7 solid 1px;
		border-right:#7f9ef7 solid 1px;
		border-bottom:#7f9ef7 solid 1px;
		padding:5px 5px 3px 5px;
		text-align:left;
		font-size:12px; 		
		font-weight:bold;
		height:17px;
		line-height:16px;
	}
	.tbl_bill01 th.row {border-top:0;}
	.tbl_bill01 td {
		background:#fff;
		border-left:#7f9ef7 solid 1px;
		border-right:#7f9ef7 solid 1px;
		border-bottom:#7f9ef7 solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:17px;
		line-height:16px;
	}


	.tbl_bill01 th.al, .tbl_bill01 td.al {text-align:left;} .tbl_bill01 th.ac, .tbl_bill01 td.ac {text-align:center;} .tbl_bill01 td.ar {text-align:right;}
	.tbl_bill01 th.ll, .tbl_bill01 td.ll {border-right:0;}
	.tbl_bill01 th.title {text-align:center; font-size:17px; padding:17px 0 13px 0px;}
	.tbl_bill01 th.title01 {text-align:center;}
	.tbl_bill01 .stext {text-align:center; font-size:14px; padding-top:5px;font-weight:normal;}
	


/*  카드전표 테이블 */
.tbl_type07  {border-top:#a3bdbc solid 1px;border-collapse:collapse;}
	.tbl_type07 th {
		background-color:#e9e9e9;
		color:#5c6b8a;
		border-left:#a3bdbc solid 1px;
		border-right:#a3bdbc solid 1px;
		border-bottom:#a3bdbc solid 1px;
		padding:5px 5px 3px 10px;
		text-align:left;
		font-size:12px; 		
		font-weight:bold;
		height:17px;
		line-height:16px;
	}
	.tbl_type07 th.b {
		background-color:#ecf3ff;
		color:#4064ff;
		border-left:#a3bdbc solid 1px;
		border-right:#a3bdbc solid 1px;
		border-bottom:#a3bdbc solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:16px;
	}
	.tbl_type07 th.row {border-top:0;}
	.tbl_type07 td {
		background-color:#fff;
		border-left:#a3bdbc solid 1px;
		border-right:#a3bdbc solid 1px;
		border-bottom:#a3bdbc solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:17px;
		line-height:16px;
	}

    .tbl_type07 th.card_t {text-align:center; background-color:#fff; padding:10px;}
	.tbl_type07 th.al, .tbl_type06 td.al {text-align:left;} .tbl_type07 td.ac {text-align:center;} .tbl_type07 td.ar {text-align:right;}
	.tbl_type07 th.ll, .tbl_type06 td.ll {border-right:0;}



/* 그리드형 중심/비목 테이블 리스트 */
.tbl_type08  {border-top:#7e9ab1 solid 1px;border-collapse:collapse;}
.tbl_type08 th {
	background-color: #f4f6fa;
	color: #3872b6;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 18px;
	}
	.tbl_type08 th.b {
	background-color: #ffffff;
	color: #3872b6;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	}
	.tbl_type08 th.row {border-top:0;}
	.tbl_type08 td {
	background-color: #ffffff;
	border-right: #dddddd solid 1px;
	border-bottom: #dddddd solid 1px;
	padding: 5px 5px 3px 5px;
	font-size: 12px;
	text-align: left;
	height: 20px;
	line-height: 18px;
	}

	.tbl_type08 th.al, .tbl_type08 td.al {text-align:left; padding-left:10px;} .tbl_type08 td.ac {text-align:center} .tbl_type08 td.ar {text-align:right}
	.tbl_type08 th.ll, .tbl_type08 td.ll {border-right:0}
	.tbl_type08 td.sum1 {text-align:left; padding:5px 0px 0px 5px; background-color:#e3e7ea;}
    .tbl_type08 td.sum2 {text-align:right; padding:5px 5px 0px 5px; background-color:#e3e7ea;}


/* 그리드형 중심/비목 추가입력 테이블 리스트 */
.tbl_type09  {border-top:#96dcd8 solid 2px;border-collapse:collapse; table-layout:fixed;}
	.tbl_type09 th {
		background-color:#f4f9fa;
		color:#2c6f66;
		border-left:#dddddd solid 0px;
		border-right:#dddddd solid 1px;
		border-bottom:#dddddd solid 1px;
		padding:5px 5px 3px 10px;
		text-align:left;
		font-size:12px; 		
		font-weight:normal;
		height:20px;
		line-height:18px;
	}
	.tbl_type09 th.b {
		background-color:#ffffff;
		color:#3872b6;
		border-left:#dddddd solid 0px;
		border-right:#dddddd solid 1px;
		border-bottom:#dddddd solid 1px;
		padding:5px 5px 3px 5px;
		text-align:left;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px;
	}
	.tbl_type09 th.row {border-top:0;}
	.tbl_type09 td {
		border-right:#dddddd solid 1px;
		border-bottom:#dddddd solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:20px;
		line-height:18px;
	}
	.tbl_type09 th.ll, .tbl_type09 td.ll {border-right:0;} .tbl_type09 td.linenone {border:0;}
	.tbl_type09 th.al, .tbl_type09 td.al {text-align:left}.tbl_type09 th.ac {text-align:center;} .tbl_type09 td.ac {text-align:center} .tbl_type02 td.ar {text-align:right}
	.blue_line{border-top:#82a7c4 solid 2px;}




/* 문서신청서 테이블  */
.docu_type {border-top:#bbb solid 1px;border-collapse:collapse;}
	.docu_type th {
		background-color:#e8e8e8;
		color:#555;
		border:#bbb solid 1px;
		padding:5px 0px 0px 0px;
		text-align:center;
		font-size:12px; 		
		font-weight:bold;
		height:18px;
		line-height:18px
	}
	.docu_type th.b {
		background-color:#e8e8e8;
		color:#555;
		border:#bbb solid 1px;
		padding:5px 5px 3px 5px;
		text-align:center;
		font-size:12px; 		
		font-weight:normal;
		line-height:18px
	}
	.docu_type th.row {border-top:0;}
	.docu_type td {
		border:#bbb solid 1px;
		padding:5px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:18px;
		line-height:18px
	}

	.docu_type th.al, .docu_type td.al {text-align:left; padding-left:10px;} .docu_type td.ac {text-align:center} .docu_type td.ar {text-align:right}
	.docu_type th.ll, .docu_type td.ll {border-right:0}



	/* 자주묻는질문 테이블 */
.tbl_type10  {border-top:#a0bfdb solid 2px;border-collapse:collapse; table-layout:fixed;}
	.tbl_type10 th.row {border-top:0;}
	.tbl_type10 td {
		border-right:#dddddd solid 1px;
		border-bottom:#dddddd solid 1px;
		padding:7px 5px 3px 5px;
		font-size:12px; 		
		text-align:left;
		height:22px;
		line-height:18px;
	}
	.tbl_type10 td.ll {border-right:0px;}
	.tbl_type10 td.bg_text {background-color:#f4f4f4; padding-left:23px;}
	
	.class_scroll {
	background-color: #f5f6fa;
	border: 1px solid #cedbe4;
	font-family: "돋움", "돋움체";
	color: #666;
	font-size: 9pt;
	padding: 20px;
	list-style-image: none;
	list-style-type: square;
	line-height: 16px;
	margin-top: 0px;
}
.class_scroll ul li {
	list-style-type: none;
	list-style-image: none;
}
.class_scroll ul ul li {
	list-style-type: none;
}
.class_01_top {
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	color: #666;
	line-height: 18px;
	background-image: url("/images/pop/pop_notice.gif");
	background-repeat: no-repeat;
}
.text_basic {
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	color: #666;
	line-height: 16px;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 10px;
	margin-top: 10px;
}
