@charset "euc-kr";

@import url(reset.css);      /* 리셋 전용 */
@import url(bbs.css);      /* 테이블 전용 */
@import url(common.css);   /* 공 통 사 용 */

fieldset {border:0;}

/* skip 숨김영역 */
.skip, hr, fieldset legend  {
  position:absolute;
  width:0;
  height:0;
  font:0 Arial;
  overflow:hidden;
  left:-999em;
}


html, 
body {height:100%;margin:0px;padding:0px;}
#head {height:47px;background:#fff;position:relative;z-index: 1;}
#body {min-height:100%;margin:-47px 0 -25px; overflow-y:hidden; overflow-x:hidden;}
* html #body {height:100%; overflow-y:hidden; overflow-x:hidden;}
#content {padding:50px 20px 50px 20px;}
#foot {height:25px; background:#3c92c9;}
#foot01 {height:25px; background:#00a3b4;}


.pop_wh{width:100%;}

.hidden_text {display:none;}

/* 팝업 타이틀  */
.title{margin:0 auto;padding:0px; height:47px; background:url(../images/pop/pop_tbg.gif) repeat-x;}
.title01{margin:0 auto;padding:0px; height:47px; background:url(../images/pop/pop_tbg1.gif) repeat-x;}

.pop_title {font-size:16px; color:#fff; font-weight:bold; padding:17px 0px 10px 20px;}

/*타이틀*/
#content h3 {
	clear:both;
	background:url(/images/common/bu2.gif) no-repeat 0 0px; 
	padding-left:20px;
	padding-top:2px;
	font-weight:bold;color:#333333;font-size:14px;
	height:15px;
	margin-top:0px;
}


.title_h3 {
	clear:both;
	background:url(/images/common/bu2.gif) no-repeat 0 0px; 
	padding-left:20px;
	padding-top:3px;
	font-weight:bold;color:#333333;font-size:14px;
	height:13px;
	margin-top:0px;
}

/*인쇄 문서 부분 */
.docu_title {padding:50px 0px 40px; text-align:center;}
.docu_txt {padding:20px 0px 0px; text-align:left;}
.docu_date {padding:40px 0px 0px; text-align:center;}
.docu_stamp {padding:10px 0px 40px; text-align:right;}
.docu_logo {padding:10px 0px 20px; text-align:center;}



/*가이드 라인 부분 */
.pop_line_gbox {border:2px solid #efefef;width:100%;background-color:#f6f6f6;text-align:left;font-size:11px;padding:0px;}

/*협약부분 상세 */
.pop_line_gbox_01 {
	width: 100%;
	background-color: #FFFFFF;
	text-align: left;
	font-size: 11px;
	padding-bottom: 10px;
	border-top-width: 6px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ef462b;
	border-right-color: #cacaca;
	border-bottom-color: #cacaca;
	border-left-color: #cacaca;
	height: 246px;
}


.pop_line_gboxc {padding:12px 10px 5px 12px;}
.pop_line_gbox ul li {display:block; background:url(/images/common/bu4.gif) no-repeat 0 3px; padding-left:10px; line-height:20px; color:#666; line-height:16px; padding-bottom:5px;}

.pop_line_gbox01 {border:1px solid #ddd;width:100%;background-color:#f6f6f6;text-align:left;font-size:11px;padding:0px;}
.pop_line_gboxc01 {padding:12px 10px 10px 12px;}
.pop_line_gbox01 ul li {display:block; background:url(/images/common/bu5.gif) no-repeat 0 5px; padding-left:10px; padding-bottom:5px; line-height:20px; color:#666;  line-height:16px;}



/* 800 기준 나눔 영역 자주쓰는 계좌등록 */
.pop_box{width:760px; padding:0px; margin:0px;}
.pop_left{float:left; padding:0px; margin:0px; width:315px;}
.pop_center{float:left; width:75px; margin:0px; text-align:center; padding-top:100px;}
.pop_right{float:left; padding:0px; margin:0px; width:350px;}
.pop_left .buline{padding:10px; margin:0px; width:290px; height:280px; border:1px solid #cad7e4; background-color:#f4f6fa;}
.pop_left .buline ul li{margin:0px; display:block; line-height:16px; width:270px;}

/* 팝업 테이블 ul block 처리 */
.pop_tdlist  li{display:block; padding-bottom:5px; line-height:16px;}


/* 카드매출 전표 */
.pop_cardbg {background:url(../images/pop/card_bg.gif) repeat-y; border:1px solid #ccc; width:367px; min-height:100px; padding:40px; text-align:center;}
.pop_cardbox {padding:0px; background-color:#fff;}


/* 실행버튼 위치 */
.pop_action_bt {padding-top:10px; text-align:right;}
.pop_action_bt_01 {
	padding-top: 0px;
	text-align: right;
	padding-right: 5px;
}
.pop_search_bt {*display:inline; padding-top:10px; _padding-top:10px;} /* 상세내용과 조회버튼 같은 위치*/
.pop_search_bt1 {padding-top:10px; text-align:right;} /* 조회버튼 위치*/


/* pop 검색 */
.pop_search {float:left; width:760px; padding:10px 0px 0px 0px; margin:0px;}
.pop_search_boxt {background:url(../images/pop/search_box1.gif) no-repeat; height:10px; width:760px;}
.pop_search_boxt1 {background:url(../images/pop/search_box01.gif) no-repeat; height:10px; width:747px;}
.pop_search_boxt2 {background:url(../images/pop/search_box101.gif) no-repeat; height:10px; width:793px;}
.pop_search_boxt3 {background:url(../images/pop/search_box102.gif) no-repeat; height:10px; width:944px;}
.pop_search_boxc {background:url(../images/pop/search_box2.gif) repeat-y; width:760px; padding:7px 0px 5px 25px;}
.pop_search_boxc1 {background:url(../images/pop/search_box02.gif) repeat-y; width:747px; padding:7px 0px 5px 25px;}
.pop_search_boxc2 {background:url(../images/pop/search_box201.gif) repeat-y; width:793px; padding:7px 0px 5px 25px;}
.pop_search_boxc3 {background:url(../images/pop/search_box202.gif) repeat-y; width:944px; padding:7px 0px 5px 25px;}
.pop_search_boxb {background:url(../images/pop/search_box3.gif) no-repeat; height:10px; width:760px;}
.pop_search_boxb1 {background:url(../images/pop/search_box06.gif) no-repeat; height:10px; width:747px;}
.pop_search_boxb2 {background:url(../images/pop/search_box601.gif) no-repeat; height:10px; width:793px;}
.pop_search_boxb3 {background:url(../images/pop/search_box602.gif) no-repeat; height:10px; width:944px;}

.pop_detail_boxt {background:url(../images/pop/search_box4.gif) repeat-y; width:755px;}
.pop_detail_boxc {width:755px; padding:0px 0px 5px 25px; }
.pop_detail_boxb {background:url(../images/pop/search_box5.gif) no-repeat; height:10px; width:755px;  margin-bottom:-2px;}

/* 팝업 시스템 사용시 주의사항 */
.pop_guide_box {width:100%; border:1px solid #dddddd; background-color:#f7f7f7; color:#555;}
.pop_guide_boxtd {padding:10px;}
.pop_guide_boxtd ul li {display:block; background:url(/images/common/bu4.gif) no-repeat 0 8px; padding-left:10px; padding-top:5px; color:#777; text-align:left;}


.pop_guide_box1 {width:100%; border:1px solid #dddddd; background-color:#f7f7f7; color:#555;}
.pop_guide_boxtd1 {padding:10px;}
.pop_point_title{display:block; background:url(/images/common/bu6.gif) no-repeat 0 3px; padding-left:15px; margin-left:0px;line-height:20px; font-weight:bold;color:#ff4800;font-size:12px;}
.pop_comment {padding-top:5px; width:640px;}
.pop_comment li {display:block; background:url(/images/common/bu7.gif) no-repeat 0 5px; padding-left:10px; line-height:20px; color:#777;}
.pop_comment_list {;padding-bottom:5px; width:640px;}
.pop_comment_list li {display:block; padding-left:10px; line-height:20px; color:#777;}


/* 그리드 영역 */
.pop_xgrid {border:1px solid #dddddd; background-color:#fff; color:#555; font-size:14px; height:150px; text-align:center;padding-top:50px;}


/* 실행버튼 */
a.bt_action2-01 {display:inline-block; width:69px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action2-1.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action2-01 {display:inline-block; width:69px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action2-1.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action3-01 {display:inline-block; width:79px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action3-1.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action3-01 {display:inline-block; width:79px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action3-1.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}


a.bt_action4-01 {display:inline-block; width:94px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action4-1.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action4-01 {display:inline-block; width:94px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action4-1.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action6-01 {display:inline-block; width:117px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action6-1.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action6-01 {display:inline-block; width:117px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action6-1.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action8-01 {display:inline-block; width:146px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action8-1.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action8-01 {display:inline-block; width:146px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action8-1.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}


a.bt_action11-01 {display:inline-block; width:176px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action11-1.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action11-01 {display:inline-block; width:176px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action11-1.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action11-02 {display:inline-block; width:166px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action11-2.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action11-02 {display:inline-block; width:166px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action11-2.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}



/* 팝업버튼 */

a.bt_action04 {display:inline-block; width:94px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action4.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action04 {display:inline-block; width:94px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action4.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action06 {display:inline-block; width:114px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action6.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action06 {display:inline-block; width:114px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action6.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action08 {display:inline-block; width:145px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action8.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action08 {display:inline-block; width:145px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action8.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action012 {display:inline-block; width:187px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action12.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action012{display:inline-block; width:187px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action12.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}

a.bt_action09 {display:inline-block; width:157px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action9.gif) no-repeat 0px 0px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}
a:hover.bt_action09 {display:inline-block; width:157px; height:26px; margin:0px 0px; background:url(../images/bt/bt_action9.gif) no-repeat 0px -52px; color:#fff; font-weight:bold; padding-top:6px; text-align:left;}



.pop_title01 {font-size:16px; color:#0d6a73; font-weight:bold; padding:20px 0px 0px 20px; text-align:center;}

.pop_text {font-size:12px; line-height:18px;}
.text_list li {display:inline-block; background:url(/images/common/bu4.gif) no-repeat 0 5px; padding-left:10px; padding-top:1px; color:#777; line-height:18px;}
.close_txt {color:#fff; padding-top:7px; padding-left:15px;}

/*과세필수정보 수집에서만 쓰이는 css start*/
#table_01 {
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a0bfdb;
	border-bottom-color: #dddddd;
}
.table_main {
	margin-top: 20px;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.search {
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}


#table_01 th {
	background-color: #f4f6fa;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-bottom-color: #dddddd;
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	color: #666666;
	font-style: normal;
	font-weight: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-left: 20px;
	border-right-color: #dddddd;
	background-image: url(bl_01.gif);
	background-repeat: no-repeat;
	background-position: 10px 1px;
	line-height: normal;
}
.sell {
	background-image: url(bl_01.gif);
	background-repeat: no-repeat;
}

.text_top {
	font-size: 9pt;
	font-weight: normal;
	color: #F36;
	line-height: none;
}
#table_01 td {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dddddd;
	border-bottom-color: #dddddd;
	padding-left: 10px;
}
.textbox_01 {
	font-size: 9pt;
	color: #666;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a0bfdb;
	border-right-color: #a0bfdb;
	border-bottom-color: #a0bfdb;
	border-left-color: #a0bfdb;
	height: 20px;
	width: 240px;
	margin: 5px;
}
.textbox {
	background-color: #FFF;
	border: 3px solid #3872b6;
	height: 20px;
	width: 240px;
	padding: px;
	margin: 5px;
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	color: #666;
	line-height: 20px;
}.text_02 {
	width: 100%;
	background-color: #f4f6fa;
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	color: #666;
	border: 1px solid #ccdbe5;
	font-weight: normal;
	line-height: 19px;
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 5px;
	padding-left: 16px;
}
.text_top01 {
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	font-weight: normal;
	color: #666;
	line-height: 20px;
}
.text_03 {
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	font-weight: bold;
	color: #3c92c9;
}
.class_scroll {
	background-color: #f5f6fa;
	border: 1px solid #cedbe4;
	font-family: "돋움", "돋움체";
	color: #666;
	font-size: 9pt;
	padding: 20px;
	list-style-image: none;
	list-style-type: square;
	line-height: 16px;
	margin-top: 0px;
}
.class_scroll ul li {
	list-style-type: none;
	list-style-image: none;
}
.class_scroll ul ul li {
	list-style-type: none;
}
.class_01_top {
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	color: #666;
	line-height: 18px;
	background-image: url("/images/pop/pop_notice.gif");
	background-repeat: no-repeat;
}
.text_basic {
	font-family: "돋움", "돋움체";
	font-size: 9pt;
	color: #666;
	line-height: 16px;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 10px;
	margin-top: 10px;
}
/*과세필수정보 수집에서만 쓰이는 css end */
