@charset "euc-kr";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
fieldset,img{border:0 none;}
img{vertical-align:top;}
dl,ul,ol,menu,li{list-style:none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{content: '';content: none;}
input,select,textarea,button{vertical-align:middle;}
button{border:0 none;background-color:transparent;cursor:pointer;}
body{background:#fff;}
body,th,td,input,textarea,button{font-size:12px; font-family:Gulim,sans-serif;color:#333;}
select{font-size:12px;color:#333;}
a{color:#333;text-decoration:none;}
a:active, a:hover{text-decoration:none;} /* 1109추가 텍스트링크 기본스타일 */
a:hover{color:#164e7e;} /* 오버시 : 블루색(#164e7e) , 선택시 : 주황색(#ff7200) */
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}
