/* New Calendar*/
#s_calendar{display:none;}
table.cal_tbl{
	border-collapse: separate;
	width:176px;
}

table.cal_tbl tr.top th{height:43px;background:url(/js/calendar/img/cal_top.gif) no-repeat;color:#8e8d8c;font-size:11px;vertical-align:top;padding-top:5px;}
table.cal_tbl tr.top th span{color:#3e6cbf;}
table.cal_tbl tr.mid{height:19px;background:#fff;}
table.cal_tbl tr.mid td{text-align:center;font-size:10px;color:#5d5d5d;}
table.cal_tbl tr.mid td a:hover{color:#12559e;font-weight:bold;}
table.cal_tbl tr.mid td.today{font-weight:bold;}
table.cal_tbl tr.mid td.o_month{color:#d3d3d3;}
table.cal_tbl tr.mid td.o_month a{color:#d3d3d3;}
table.cal_tbl tr.mid td.sun{padding-left:6px;border-left:1px solid #a8a8a8;color:#ff0000;}
table.cal_tbl tr.mid td.sat{padding-right:6px;border-right:1px solid #a8a8a8;color:#0000ff;}
table.cal_tbl tr.bot td{height:13px;background:url(/js/calendar/img/cal_bot.gif) no-repeat;}